{% extends "_main.html" %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
<form class="form-horizontal" method="POST" enctype="multipart/form-data">
  <div class="control-group">
    <label class="control-label" for="username">Логин</label>
    <div class="controls">
    	<input class="inline-input" readonly="readonly" type="text" placeholder="Логин" value="{{ result.username }}">
    	<span class="label label-important" style="margin-top: 5px;">Изменить невозможно!</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="name">ФИО</label>
    <div class="controls">
      <input class="span5 inline-input" type="text" id="name" name="name" placeholder="ФИО" value="{{ result.name }}">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="email">Email</label>
    <div class="controls">
      <input class="span5 inline-input" type="text" id="email" name="email" placeholder="Email" value="{{ result.email }}">
    </div>
  </div>
  <div class="control-group">
      <label class="control-label" for="password">Пароль</label>
      <div class="controls">
          <input class="span5 inline-input" type="text" id="password" name="password" placeholder="Скрыт" value="">
      </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="role">Отдел</label>
    <div class="controls">
    	<input class="inline-input" readonly="readonly" type="text" placeholder="Отдел" value="{{ result.role_name }}">
    	<span class="label label-important" style="margin-top: 5px;">Изменить невозможно!</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="signature">Подпись</label>
    <div class="controls">
      {% if result.signature %}
      <img width="150px" src="/uploads/img/sign/{{ result.signature }}" />
      {% endif %}
      <input type="file" id="signature" name="signature" />
    </div>
  </div>
  
  <div class="form-actions">
    <input type="submit" class="btn" name="save" value="Сохранить"/>
  </div>
</form>
{% endblock %}