<div id="aNewReq" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Назначить поручение</h3>
    </div>
    <form class="form-horizontal" method="POST" enctype="multipart/form-data" autocomplete="off" id="addtask">
        <input type="hidden" name="add" value="Отправить"/>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="cnumber">Суть задачи</label>
                <div class="controls">
                    <textarea class="span6 wysihtml5" rows="5" name="name" id="name" placeholder="Суть задачи" style="width: 459px;"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="cnumber">Ответсвенный</label>
                <div class="controls">
                    <div class="ui-select" style="width: auto;">
                        <select name="rid" id="rid">
                            {% for key, val in respons %}
                                <option value="{{ key }}">{{ val }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-group">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
                <input type="submit" class="btn btn-primary" name="add" value="Добавить" />
            </div>
        </div>
    </form>
</div>
