<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <title>{% block title %}{% endblock %} - ПРОФЭКСПЕРТ</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
  
      {#<!-- Le styles -->
      <link href="/themes/css/bootstrap1.min.css" rel="stylesheet" media="screen">
      <link href="/themes/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
      <link href="/themes/css/custom.css" rel="stylesheet" media="screen">
      <style type="text/css">
	body {
	  padding-top: 60px;
	  padding-bottom: 40px;
	}
      </style>#}
          <!-- bootstrap -->
    <link href="/themes/wrap/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/themes/wrap/css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <link href="/themes/wrap/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />
    
    <link href="/themes/wrap/js/jquery.formstyler.css" rel="stylesheet" />

    <!-- libraries -->
    <link href="/themes/wrap/css/lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />
    <link href="/themes/wrap/css/lib/font-awesome.css" type="text/css" rel="stylesheet" />
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="/themes/wrap/css/compiled/tables.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/themes/wrap/css/custom.css" type="text/css" media="screen" />
    
    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="/themes/wrap/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/themes/wrap/css/elements.css">
    <link rel="stylesheet" type="text/css" href="/themes/wrap/css/icons.css">

    <!-- this page specific styles -->
    <link rel="stylesheet" href="/themes/wrap/css/compiled/index.css" type="text/css" media="screen" />    

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- lato font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% endblock %}
  </head>
  <body>
    {#<div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">ПРОФЭКСПЕРТ</a>
          <div class="nav-collapse collapse">
	    <ul class="nav">
	      <li {% if segments.1|length == 0 %}class="active"{% endif %}><a href="/">Рабочий стол</a></li>
	      {% for row in menu %}
		{% if access == 'admin' or row.cpu in access %}
		  <li {% if segments.2|length == 0 and segments.1|trim('/') == row.cpu|trim('/') %}class="active"{% endif %}><a href="{{ row.cpu }}" {{ row.self }}>{{ row.name }}</a></li>
		  {% if segments.1|trim('/') == row.cpu|trim('/') %}
		    {% for row1 in row.menu %}
		      <li {% if segments.1|trim('/') ~ "/" ~ segments.2|trim('/') == row1.cpu|trim('/') %}class="active"{% endif %}><a href="{{ row1.cpu }}" {{ row1.self }}>{{ row1.name }}</a></li>
		    {% endfor %}
		  {% endif %}
		{% endif %}
	      {% endfor %}
	    </ul>
	    <ul class="nav pull-right">
		<li class="divider-vertical"></li>
		<li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ user.username }} <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		    <li><a>{{ user.role_name }}</a></li>
		    <li class="divider"></li>
		    <li><a href="/auth/logout">Выход</a></li>
		  </ul>
		</li>
	    </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>#}
    <!-- navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <button type="button" class="btn btn-navbar visible-phone" id="menu-toggler">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <a class="brand" href="/">ПРОФЭКСПЕРТ</a>

            <ul class="nav pull-right">                
                <li class="hidden-phone">
                    <input class="search" type="text" />
                </li>
                <li class="notification-dropdown hidden-phone">
                    <a href="#" class="trigger">
                        <i class="icon-warning-sign"></i>
                        <span class="count">8</span>
                    </a>
                    <div class="pop-dialog">
                        <div class="pointer right">
                            <div class="arrow"></div>
                            <div class="arrow_border"></div>
                        </div>
                        <div class="body">
                            <a href="#" class="close-icon"><i class="icon-remove-sign"></i></a>
                            <div class="notifications">
                                <h3>You have 6 new notifications</h3>
                                <a href="#" class="item">
                                    <i class="icon-signin"></i> New user registration
                                    <span class="time"><i class="icon-time"></i> 13 min.</span>
                                </a>
                                <a href="#" class="item">
                                    <i class="icon-signin"></i> New user registration
                                    <span class="time"><i class="icon-time"></i> 18 min.</span>
                                </a>
                                <a href="#" class="item">
                                    <i class="icon-envelope-alt"></i> New message from Alejandra
                                    <span class="time"><i class="icon-time"></i> 28 min.</span>
                                </a>
                                <a href="#" class="item">
                                    <i class="icon-signin"></i> New user registration
                                    <span class="time"><i class="icon-time"></i> 49 min.</span>
                                </a>
                                <a href="#" class="item">
                                    <i class="icon-download-alt"></i> New order placed
                                    <span class="time"><i class="icon-time"></i> 1 day.</span>
                                </a>
                                <div class="footer">
                                    <a href="#" class="logout">View all notifications</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="notification-dropdown hidden-phone">
                    <a href="#" class="trigger">
                        <i class="icon-envelope-alt"></i>
                    </a>
                    <div class="pop-dialog">
                        <div class="pointer right">
                            <div class="arrow"></div>
                            <div class="arrow_border"></div>
                        </div>
                        <div class="body">
                            <a href="#" class="close-icon"><i class="icon-remove-sign"></i></a>
                            <div class="messages">
                                <a href="#" class="item">
                                    
                                    <div class="name">Alejandra Galván</div>
                                    <div class="msg">
                                        There are many variations of available, but the majority have suffered alterations.
                                    </div>
                                    <span class="time"><i class="icon-time"></i> 13 min.</span>
                                </a>
                                <a href="#" class="item">
                                    
                                    <div class="name">Alejandra Galván</div>
                                    <div class="msg">
                                        There are many variations of available, have suffered alterations.
                                    </div>
                                    <span class="time"><i class="icon-time"></i> 26 min.</span>
                                </a>
                                <a href="#" class="item last">
                                   
                                    <div class="name">Alejandra Galván</div>
                                    <div class="msg">
                                        There are many variations of available, but the majority have suffered alterations.
                                    </div>
                                    <span class="time"><i class="icon-time"></i> 48 min.</span>
                                </a>
                                <div class="footer">
                                    <a href="#" class="logout">View all messages</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle hidden-phone" data-toggle="dropdown">
                        {{ user.name }}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="personal-info.html">Personal info</a></li>
                        <li><a href="#">Account settings</a></li>
                        <li><a href="#">Billing</a></li>
                        <li><a href="#">Export your data</a></li>
                        <li><a href="#">Send feedback</a></li>
                    </ul>
                </li>
                <li class="settings hidden-phone">
                    <a href="#add" data-target="#add" data-toggle="modal">
                        <i class="icon-cog"></i>
                    </a>
                </li>
                <li class="settings hidden-phone">
                    <a href="/auth/logout" role="button">
                        <i class="icon-share-alt"></i>
                    </a>
                </li>
            </ul>            
        </div>
    </div>
    <!-- end navbar -->
        <!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
	      <li {% if segments.1|length == 0 %}class="active"{% endif %}><a href="/">{% if segments.1|length == 0 %}<div class="pointer"><div class="arrow"></div><div class="arrow_border"></div></div>{% endif %}<i class="icon-home"></i><span>Главная</span></a></li>
	      {% for row in menu %}
		{% if access == 'admin' or row.cpu in access %}
		  <li {% if segments.2|length == 0 and segments.1|trim('/') == row.cpu|trim('/') %}class="active"{% endif %}>
		    {% if segments.2|length == 0 and segments.1|trim('/') == row.cpu|trim('/') %}<div class="pointer"><div class="arrow"></div><div class="arrow_border"></div></div>{% endif %}
		    <a href="{{ row.cpu }}" {{ row.self }}>{{row.icon|raw}} <span>{{ row.name }}</span></a>
		  </li>
		  {% if segments.1|trim('/') == row.cpu|trim('/') %}
		    {% for row1 in row.menu %}
		      <li {% if segments.1|trim('/') ~ "/" ~ segments.2|trim('/') == row1.cpu|trim('/') %}class="active"{% endif %}>
			{% if segments.1|trim('/') ~ "/" ~ segments.2|trim('/') == row1.cpu|trim('/') %}<div class="pointer"><div class="arrow"></div><div class="arrow_border"></div></div>{% endif %}
			<a href="{{ row1.cpu }}" {{ row1.self }}>{{row1.icon|raw}} <span>{{ row1.name }}</span></a>
		      </li>
		    {% endfor %}
		  {% endif %}
		{% endif %}
	      {% endfor %}
        </ul>
    </div>
    <!-- end sidebar -->
    	<!-- main container -->
    <div class="content">
        <div class="container-fluid">
            <div id="pad-wrapper">
                {% if success|length > 0 %}
                  <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>{{ success|raw }}</strong>
                  </div>
                {% endif %}
                {% if error|length > 0 %}
                  <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>{{ error|raw }}</strong>
                  </div>
                {% endif %}
            </div>
		        {% block content %}{% endblock %}

        </div>
    </div>
    <!-- end main container -->
    
    {#<div class="container">
      
      <hr>
      <footer>
        <p>&copy; ПРОФЭКСПЕРТ 2013</p>
      </footer>
    </div> <!-- /container -->#}
    
    {% block js %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/themes/wrap/js/wysihtml5-0.3.0.js"></script>
    {#<script src="http://code.jquery.com/jquery.js"></script>
    <script src="/themes/js/bootstrap.min.js"></script>
    <script src="/themes/js/custom.js"></script>#}
    	<!-- scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/themes/wrap/js/bootstrap.min.js"></script>
    <script src="/themes/wrap/js/bootstrap-wysihtml5-0.0.2.js"></script>
    <script src="/themes/wrap/js/jquery-ui-1.10.2.custom.min.js"></script>
    <!-- knob -->
    <script src="/themes/wrap/js/jquery.knob.js"></script>
    <!-- flot charts -->
    <script src="/themes/wrap/js/jquery.flot.js"></script>
    <script src="/themes/wrap/js/jquery.flot.stack.js"></script>
    <script src="/themes/wrap/js/jquery.flot.resize.js"></script>
    <script src="/themes/wrap/js/theme.js"></script>
    <script src="/themes/wrap/js/jquery.formstyler.min.js"></script>

    {% endblock %}
  </body>
</html>
