<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>Порядок производства работ</title>
    <style>
        body {
            margin: -140px;
            height: 109%;
            width: 100%;
            /* Размер фона
             * горизонталь - 2598px
             * Вертикаль - 3626px
             */
            background: url(themes/img/blank-043.jpg) no-repeat;
        }
    </style>
</head>
<body>

</body>