.loading {
   background: #fff url(ajax-loader.gif) no-repeat center;
   margin-top: 30px;
   height: 21px;
}

#edt:hover {
   background: red;
}

.bordbt {
    border-bottom: 1px solid #ffffff;
    border-collapse: collapse;
    -webkit-transition: border linear 0.2s, background linear 0.2s;
    -moz-transition: border linear 0.2s, background linear 0.2s;
    -o-transition: border linear 0.2s, background linear 0.2s;
    transition: border linear 0.2s, background linear 0.2s;
}

.bordbt:hover {
    border-bottom: 1px solid #959FB0;
    background-color: #ECF9FF;
}

#chatErrorMessage {
    width:100%;
    top:0;
    left:0;
    position:fixed;
    background-color:#ab0909;
    border-bottom:1px solid #d32a2a;
    font-size:23px;
    padding:16px;
    text-align:center;
    color:#fff;
    text-shadow:1px 1px 0 #940f0f;
    z-index: 1031;
}
a .stat:hover {
    background-color: #F5FAFC;
}
.stat a:hover {
    text-decoration: none;
}
.new-alert {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
    height: 29px;
    z-index: 9999;
    padding: 10px 35px 10px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-border-radius: 4px;
    text-align: center;
    font-size: 20px;
}

.new-alert i {
    font-size: 27px;
    position: relative;
    top: 2px;
    margin-bottom: 8px;
    margin-right: 17px;
    display: inline-block;
}

.new-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border-color: #EED3D7;
    height: 29px;
    z-index: 9999;
    padding: 10px 35px 10px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-border-radius: 4px;
    text-align: center;
    font-size: 20px;
}