{% extends "_main.html" %}
{% set active = 'dash' %}
{% block content %}
<!-- upper main stats -->
<div id="main-stats">
    <div class="row-fluid stats-row">
        <div class="span3 stat">
            <div class="data">
                <span class="number">2457</span>
                visits
            </div>
            <span class="date">Today</span>
        </div>
        <div class="span3 stat">
            <div class="data">
                <span class="number">3240</span>
                users
            </div>
            <span class="date">February 2013</span>
        </div>
        <div class="span3 stat">
            <div class="data">
                <span class="number">322</span>
                orders
            </div>
            <span class="date">This week</span>
        </div>
        <div class="span3 stat last">
            <div class="data">
                <span class="number">$2,340</span>
                sales
            </div>
            <span class="date">last 30 days</span>
        </div>
    </div>
</div>
<!-- end upper main stats -->

<div id="pad-wrapper">

<!-- table sample -->
<!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
<div class="table-products section">
    <div class="row-fluid head">
        <div class="span12">
            <h4>Products <small>Table sample</small></h4>
        </div>
    </div>

    <div class="row-fluid filter-block">
        <div class="pull-right">
            <div class="ui-select">
                <select>
                    <option>Filter users</option>
                    <option>Signed last 30 days</option>
                    <option>Active users</option>
                </select>
            </div>
            <input type="text" class="search">
            <a class="btn-flat new-product">+ Add product</a>
        </div>
    </div>

    <div class="row-fluid">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="span3">
                    <input type="checkbox">
                    Product
                </th>
                <th class="span3">
                    <span class="line"></span>Description
                </th>
                <th class="span3">
                    <span class="line"></span>Status
                </th>
            </tr>
            </thead>
            <tbody>
            <!-- row -->
            <tr class="first">
                <td>
                    <input type="checkbox">
                    <div class="img">
                        <img src="/themes/wrap/img/table-img.png">
                    </div>
                    <a href="#">There are many variations </a>
                </td>
                <td class="description">
                    if you are going to use a passage of Lorem Ipsum.
                </td>
                <td>
                    <span class="label label-success">Active</span>
                    <ul class="actions">
                        <li><i class="table-edit"></i></span></li>
                        <li><i class="table-settings"></i></li>
                        <li class="last"><i class="table-delete"></i></li>
                    </ul>
                </td>
            </tr>
            <!-- row -->
            <tr>
                <td>
                    <input type="checkbox">
                    <div class="img">
                        <img src="/themes/wrap/img/table-img.png">
                    </div>
                    <a href="#">Internet tend</a>
                </td>
                <td class="description">
                    There are many variations of passages.
                </td>
                <td>
                    <ul class="actions">
                        <li><i class="table-edit"></i></span></li>
                        <li><i class="table-settings"></i></li>
                        <li class="last"><i class="table-delete"></i></li>
                    </ul>
                </td>
            </tr>
            <!-- row -->
            <tr>
                <td>
                    <input type="checkbox">
                    <div class="img">
                        <img src="/themes/wrap/img/table-img.png">
                    </div>
                    <a href="#">Many desktop publishing </a>
                </td>
                <td class="description">
                    if you are going to use a passage of Lorem Ipsum.
                </td>
                <td>
                    <ul class="actions">
                        <li><i class="table-edit"></i></span></li>
                        <li><i class="table-settings"></i></li>
                        <li class="last"><i class="table-delete"></i></li>
                    </ul>
                </td>
            </tr>
            <!-- row -->
            <tr>
                <td>
                    <input type="checkbox">
                    <div class="img">
                        <img src="/themes/wrap/img/table-img.png">
                    </div>
                    <a href="#">Generate Lorem </a>
                </td>
                <td class="description">
                    There are many variations of passages.
                </td>
                <td>
                    <span class="label label-info">Standby</span>
                    <ul class="actions">
                        <li><i class="table-edit"></i></span></li>
                        <li><i class="table-settings"></i></li>
                        <li class="last"><i class="table-delete"></i></li>
                    </ul>
                </td>
            </tr>
            <!-- row -->
            <tr>
                <td>
                    <input type="checkbox">
                    <div class="img">
                        <img src="/themes/wrap/img/table-img.png">
                    </div>
                    <a href="#">Internet tend</a>
                </td>
                <td class="description">
                    There are many variations of passages.
                </td>
                <td>
                    <ul class="actions">
                        <li><i class="table-edit"></i></span></li>
                        <li><i class="table-settings"></i></li>
                        <li class="last"><i class="table-delete"></i></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <ul>
            <li><a href="#">&#8249;</a></li>
            <li><a class="active" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">&#8250;</a></li>
        </ul>
    </div>
</div>
<!-- end table sample -->
</div>
{% endblock %}