{% extends "_main.html" %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}

    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
        <div class="control-group">
            <label class="control-label" for="username">Логин</label>
            <div class="controls">
                <input class="span5 inline-input" type="text" id="username" name="username" placeholder="Логин" value="{{ result.username }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="name">ФИО</label>
            <div class="controls">
                <input class="span5 inline-input" type="text" id="name" name="name" placeholder="ФИО" value="{{ result.name }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
                <input class="span5 inline-input" type="text" id="email" name="email" placeholder="Email" value="{{ result.email }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="pwd">Пароль</label>
            <div class="controls">
                <input class="span5 inline-input" type="text" id="pwd" placeholder="Скрыт" value="">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="role">Отдел</label>
            <div class="controls">
                <div class="ui-select" style="width: 300px;">
                    <select name="role_id">
                        {% for row in roles %}
                            <option value="{{ row.id }}" {% if row.id == result.role_id %}selected{% endif %}>{{ row.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="signature">Подпись</label>
            <div class="controls">
                {% if result.signature %}
                    <img width="150px" src="/uploads/img/sign/{{ result.signature }}" />
                {% endif %}
                <input type="file" id="signature" name="signature" />
            </div>
        </div>

        <div class="form-actions">
            <input type="submit" class="btn" name="save" value="Сохранить"/>
        </div>
    </form>
{% endblock %}