{% extends "_main.html" %}
{% set active = 'rls' %}
{% block content %}
  <div class="table-wrapper products-table section">
    <div class="row-fluid">
	<form method="POST">
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th class="span2">#</th>
	      <th class="span2"><span class="line"></span>ID</th>
	      <th class="span10"><span class="line"></span>Название</th>
	      <th><span class="line"></span>Родительский ID</th>
	      <th><span class="line"></span>Действия</th>
	    </tr>
	  </thead>
	  <tbody>
		{% for row in roles %}
		  <tr>
		    <td><input type="checkbox" name="checkbox_{{ row.id }}" value="{{ row.id }}"></td>
		    <td>{{ row.id }}</td>
		    <td>{{ row.name }}</td>
		    <td>{{ row.parent_id }}</td>
		    <td>
                <ul class="actions" style="float: left;">
                    <li><a href="/users/uri_permissions/{{ row.id }}/">URI</a></li>
                    <li><a href="/users/custom_permissions/{{ row.id }}/">Custom</a></li>
                </ul>
            </td>
		    {#<td><div class="btn-group"><a href="/request/edit/{{ row.id }}/" class="btn btn-mini">Изменить</a><a href="/request/delete/{{ row.id }}/" class="btn btn-mini btn-danger">Удалить</a></div></td>#}
		  </tr>
		{% endfor %}
	  </tbody>
	</table>
	<div class="form-actions">
	  <input type="submit" name="delete" class="btn btn-danger" value="Удалить выделенне"/>
	</div>
	</form>
    </div>
  </div>
<div id="add" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Добавить отдел</h3>
  </div>
  <form method="POST" enctype="multipart/form-data" class="form-horizontal">
    <div class="modal-body">
      <div class="control-group">
	<label class="control-label" for="role_name">Наименование</label>
	<div class="controls">
	  <input type="text" id="role_name" name="role_name" placeholder="Наименование отдела">
	</div>
      </div>
      <div class="control-group">
	<label class="control-label" for="role_parent">Родтельский ID</label>
	<div class="controls">
	  <select id="role_parent" name="role_parent">
	    <option value="0">Без родителя</option>
	    {% for role in roles %}
	      <option value="{{ role.id }}">{{ role.name }}</option>
	    {% endfor %}
	  </select>
	</div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="btn-group">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        <input type="submit" class="btn btn-primary" name="add" value="Добавить" />
      </div>
    </div>
  </form>
</div>
{% endblock %}