{% extends "_main.html" %}
{% set active = 'card' %}
{% block content %}
{% if success|length > 0 %}
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>{{ success }}</strong>
</div>
{% endif %}
{% if error|length > 0 %}
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>{{ error }}</strong>
</div>
{% endif %}
        <div class="table-products">
<table class="table table-hover" id="fhead">
  <thead>
    <tr>
      <th>#</th>
      <th>ФИО</th>
      <th>Телефон</th>
      <th>Почта</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
	{% for row in result %}
		<tr>
			<td>{{ loop.index }} </td>
			<td>{{ row.fname }} </td>
			<td>{{ row.phone }} </td>
			<td>{{ row.email }} </td>
			<td>
                <ul class="actions" style="float: left;">
                    <li>
                        <a href="/card/view/{{ row.id }}/" data-toggle="tooltip" data-original-title="Подробнее"><i class="table-settings"></i></a>
                    </li>
                    <li class="last">
                        <a href="#/card/delete/{{ row.id }}/" onclick="return confirm('Вы уверены что хотите удалить заявку?')" data-toggle="tooltip" data-original-title="Удалить"><i class="table-delete"></i></a>
                    </li>
                </ul>
            </td>
		</tr>
	{% endfor %}
  </tbody>
</table>
        </div>
<!-- Modal -->
<div id="upload" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Загрузить документы</h3>
  </div>
  <div class="modal-body">
    <blockquote>
      <p>Права на собственность <input type="file" /></p>
      <small>Загрузил <b>Admin</b> 22.07.2013 в 15:24 </small>
    </blockquote>
    <blockquote>
      <p>Технический паспорт <input type="file" /></p>
      <small>Загрузил <b>Admin</b> 22.07.2013 в 15:24 </small>
    </blockquote>
    <blockquote>
      <p>Эскиз перепланировки <input type="file" /></p>
      <small>Загрузил <b>Admin</b> 22.07.2013 в 15:24 </small>
    </blockquote>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    <button class="btn btn-primary">Загрузить</button>
  </div>
</div>
{% endblock %}