{% extends "_main.html" %}

{% block title %}Заявки{% endblock %}

{% block content %}
  <style>
    .sort .btn {
      font-size: 11px;
      font-family: "Open sans", Helvetica, Arial;
      color: #313d4c;
      font-weight: 700;
      padding: 5px 10px;
      line-height: 14px;
      background: #fefefe;
      background: -moz-linear-gradient(top, #fefefe 0%, #f7f7f7 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f7f7f7));
      background: -webkit-linear-gradient(top, #fefefe 0%,#f7f7f7 100%);
      background: -o-linear-gradient(top, #fefefe 0%,#f7f7f7 100%);
      background: -ms-linear-gradient(top, #fefefe 0%,#f7f7f7 100%);
      background: linear-gradient(to bottom, #fefefe 0%,#f7f7f7 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f7f7f7',GradientType=0 );
      border: 1px solid #d0dde9;
      transition: color .1s linear;
      -moz-transition: color .1s linear;
      -webkit-transition: color .1s linear;
      -o-transition: color .1s linear;
    }
    .sort a:hover {
      color: #a8b5c7;
    }
    .sort a:active, .btn-group a.active {
      -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2) inset;
      -moz-box-shadow:0 1px 0 rgba(0,0,0,0.2) inset;
      box-shadow:0 1px 0 rgba(0,0,0,0.2) inset;
      color: #a8b5c7;
    }
    .sort .btn:hover, .sort .btn:focus, .sort .btn:active, .sort .btn.active, .sort .btn.disabled, .sort .btn[disabled] {
      background: #fefefe;
      background: -moz-linear-gradient(top, #fefefe 0%, #f7f7f7 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f7f7f7));
      background: -webkit-linear-gradient(top, #fefefe 0%,#f7f7f7 100%);
      background: -o-linear-gradient(top, #fefefe 0%,#f7f7f7 100%);
      background: -ms-linear-gradient(top, #fefefe 0%,#f7f7f7 100%);
      background: linear-gradient(to bottom, #fefefe 0%,#f7f7f7 100%);
    }
      td{
          max-width: 150px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
      }
  </style>
    <div id="main-stats">
        <div class="row-fluid stats-row">
            <div class="span2 stat" style="margin-left: 0;">
                <div class="data">
                    <span class="number">{{ stats.0.request }}</span> Заявок<br>
                    <span class="number">{{ stats.0.contract }}</span> Договоров
                </div>
                <span class="date">До {{ stats.1.month }}</span>
            </div>
            <div class="span2 stat" style="margin-left: 0;">
                <div class="data">
                    <span class="number">{{ stats.1.request }}</span> Заявок<br>
                    <span class="number">{{ stats.1.contract }}</span> Договоров
                </div>
                <span class="date">{{ stats.1.month }}</span>
            </div>
            <div class="span2 stat" style="margin-left: 0;">
                <div class="data">
                    <span class="number">{{ stats.2.request }}</span> Заявок<br>
                    <span class="number">{{ stats.2.contract }}</span> Договоров
                </div>
                <span class="date">{{ stats.2.month }}</span>
            </div>
            <div class="span2 stat" style="margin-left: 0;">
                <div class="data">
                    <span class="number">{{ stats.3.request }}</span> Заявок<br>
                    <span class="number">{{ stats.3.contract }}</span> Договоров
                </div>
                <span class="date">{{ stats.3.month }}</span>
            </div>
            <div class="span2 stat" style="margin-left: 0;">
                <div class="data">
                    <span class="number">{{ stats.4.request }}</span> Заявок<br>
                    <span class="number">{{ stats.4.contract }}</span> Договоров
                </div>
                <span class="date">{{ stats.4.month }}</span>
            </div>
            <div class="span2 stat" style="margin-left: 0;">
                <div class="data">
                    <span class="number">{{ stats.month.request }}</span> Заявок<br>
                    <span class="number">{{ stats.month.contract }}</span> Договоров
                </div>
                <span class="date">За последние 30 дней</span>
            </div>
            <div class="span2 stat last" style="margin-left: 0;">
                <div class="data">
                    <span class="number">{{ stats.total.request }}</span> Заявок<br>
                    <span class="number">{{ stats.total.contract }}</span> Договоров
                </div>
                <span class="date">Всего</span>
            </div>
        </div>
    </div>
  <div class="table-products section">
    <div class="row-fluid filter-block">
        <div class="pull-left">
            <div class="btn-group">
                {% set act = '' %}
                {% for i in sort %}
                    {% if i.active == 1 %}
                        {% set act = i.name %}
                    {% endif %}
                {% endfor %}
                <button class="btn glow">{{ act }}</button>
                <button class="btn glow dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% set act = '' %}
                    {% for i in sort %}
                        <li><a href="/request/?sort={{ i.uri }}" class="{% if i.active == 1 %}active {% set act = i.name %}{% endif %}">{{ i.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
          {#<div class="btn-group pull-right sort">
            {% for i in sort %}
              <a href="/request/?sort={{ i.uri }}" class="btn btn-small {% if i.active == 1 %}active{% endif %}">{{ i.name }}</a>
            {% endfor %}
          </div>#}
        </div>
        <div class="pull-right">
            {#<input type="text" class="search">#}
	        <a href="#aNewReq" data-target="#aNewReq" data-toggle="modal" class="btn-flat success new-product"><i class="icon-plus"></i> <span>Добавить</span></a>
        </div>
    </div>

    <div class="row-fluid">
        <!-- Table -->
	    {{ result|raw }}
        <!-- EndTable -->
        <div class="row-fluid filter-block">
            <div class="pull-right">
                {#<input type="text" class="search">#}
                <a href="#aNewReq" data-target="#aNewReq" data-toggle="modal" class="btn-flat success new-product"><i class="icon-plus"></i> <span>Добавить</span></a>
            </div>
        </div>
        <!-- Help for users -->
        <div class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <b>Подсказка</b><br>
          <span class="label label-warning" data-toggle="tooltip" data-original-title="Статус">Предупреждение</span>
          <span class="label label-success" data-toggle="tooltip" data-original-title="Статус">Успех</span>
          <span class="label label-important" data-toggle="tooltip" data-original-title="Статус">Важно</span>
          <span class="label label-info" data-toggle="tooltip" data-original-title="Статус">Информация</span>
          <span class="label" data-toggle="tooltip" data-original-title="Статус">По умолчанию</span>- Варианты статусов заявки<br>

          <a href="javascript:void(0);" class="label label-warning" data-toggle="tooltip" data-original-title="Кнопка">Предупреждение</a>
          <a href="javascript:void(0);" class="label label-success" data-toggle="tooltip" data-original-title="Кнопка">Успех</a>
          <a href="javascript:void(0);" class="label label-important" data-toggle="tooltip" data-original-title="Кнопка">Важно</a>
          <a href="javascript:void(0);" class="label label-info" data-toggle="tooltip" data-original-title="Кнопка">Информация</a>
          <a href="javascript:void(0);" class="label" data-toggle="tooltip" data-original-title="Кнопка">По умолчанию</a> - Варианты кнопок для выполнения какого либо действия<br>


          &nbsp;&nbsp;&nbsp;&nbsp;* Чтобы загрузить или просмотреть документы нажмите на цифру в столбце <b>ДОКУМЕНТЫ</b>.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;* Чтобы добавить информацию или изменить нажмите кнопку <b>Изменить</b>.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;* Чтобы распечатать нажмите кнопку <b>Печать</b>.<br>
          <b>Cтатусы КП</b><br>
          &nbsp;&nbsp;&nbsp;&nbsp;* <b>Ожидание документов</b> - Ожидание получения документов от заказчика<br>
              &nbsp;&nbsp;&nbsp;&nbsp;* <b>Расчет данных</b> - Документы отправлены в отдел проектирования, производится расчёт<br>
              &nbsp;&nbsp;&nbsp;&nbsp;* <b>Согласование сроков</b><br>
              &nbsp;&nbsp;&nbsp;&nbsp;* <b>Оформление предложения</b><br>
              &nbsp;&nbsp;&nbsp;&nbsp;* <b>Согласование стоимости</b><br>
              &nbsp;&nbsp;&nbsp;&nbsp;* <b>Готово к отправке</b><br>
              &nbsp;&nbsp;&nbsp;&nbsp;* <b>Отправлено</b><br>
              &nbsp;&nbsp;&nbsp;&nbsp;* <b>Отказ</b>
        </div>
      <!-- End Help -->
    </div>
  </div>

  <!-- Modal Upload -->
    {% include 'request/upload.html' %}
  <!-- EndModal Upload -->
  
  <!-- Modal Add -->
    {# include 'request/add.html' #}
    {{ add|raw }}
  <!-- EndModal Add -->
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">

        function get_status()
        {
            $.getJSON( "/api/getStatus", function( data ) {

                $.each( data, function( key, val ) {

                    $('#ld'+val.id).html(val.text);
                });
            });
        }

        get_status();

        setInterval(function()
        {
            get_status();

        }, 10000);

        $('body').on('click','[data-ind]', function(e){

            e.preventDefault();

            var btn = $(this);

            btn.button('loading');

            var href = $(this).attr('href');

            var id = $(this).data("ind");

            $('#ld'+id).html('');

            $('#ld'+id).load(href);

        });
    </script>
{% endblock %}