{% extends "_main.html" %}

{% block title %}Заявки{% endblock %}

{% block content %}
  <style>
    .sort .btn {
      font-size: 11px;
      font-family: "Open sans", Helvetica, Arial;
      color: #313d4c;
      font-weight: 700;
      padding: 5px 10px;
      line-height: 14px;
      background: #fefefe;
      background: -moz-linear-gradient(top, #fefefe 0%, #f7f7f7 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f7f7f7));
      background: -webkit-linear-gradient(top, #fefefe 0%,#f7f7f7 100%);
      background: -o-linear-gradient(top, #fefefe 0%,#f7f7f7 100%);
      background: -ms-linear-gradient(top, #fefefe 0%,#f7f7f7 100%);
      background: linear-gradient(to bottom, #fefefe 0%,#f7f7f7 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f7f7f7',GradientType=0 );
      border: 1px solid #d0dde9;
      transition: color .1s linear;
      -moz-transition: color .1s linear;
      -webkit-transition: color .1s linear;
      -o-transition: color .1s linear;
    }
    .sort a:hover {
      color: #a8b5c7;
    }
    .sort a:active, .btn-group a.active {
      -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2) inset;
      -moz-box-shadow:0 1px 0 rgba(0,0,0,0.2) inset;
      box-shadow:0 1px 0 rgba(0,0,0,0.2) inset;
      color: #a8b5c7;
    }
    .sort .btn:hover, .sort .btn:focus, .sort .btn:active, .sort .btn.active, .sort .btn.disabled, .sort .btn[disabled] {
      background: #fefefe;
      background: -moz-linear-gradient(top, #fefefe 0%, #f7f7f7 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f7f7f7));
      background: -webkit-linear-gradient(top, #fefefe 0%,#f7f7f7 100%);
      background: -o-linear-gradient(top, #fefefe 0%,#f7f7f7 100%);
      background: -ms-linear-gradient(top, #fefefe 0%,#f7f7f7 100%);
      background: linear-gradient(to bottom, #fefefe 0%,#f7f7f7 100%);
    }
  </style>
  
  <div class="table-wrapper products-table section">
    <div class="row-fluid filter-block">
	<div class="pull-left">
	  <div class="btn-group pull-right sort">
		{% for i in sort %}
		  <a href="/request/?sort={{ i.uri }}" class="btn btn-small {% if i.active == 1 %}active{% endif %}">{{ i.name }}</a>
		{% endfor %}
            </div>
	</div>
        <div class="pull-right">
            <input type="text" class="search">
	    <a href="#aNewReq" data-target="#aNewReq" data-toggle="modal" class="btn-flat success new-product"><i class="icon-plus"></i> <span>Добавить</span></a>
        </div>
    </div>

    <div class="row-fluid">
      <!-- Table -->
	{{ result|raw }}
      <!-- EndTable -->
      
      <!-- Help for users -->
	<div class="alert alert-info">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <b>Подсказка</b><br>
	  &nbsp;&nbsp;&nbsp;&nbsp;* Чтобы загрузить или просмотреть документы нажмите на цифру в столбце <b>ДОКУМЕНТЫ</b>.<br>
	  &nbsp;&nbsp;&nbsp;&nbsp;* Чтобы добавить информацию или изменить нажмите кнопку <b>Изменить</b>.<br>
	  &nbsp;&nbsp;&nbsp;&nbsp;* Чтобы распечатать нажмите кнопку <b>Печать</b>.<br>
	  <b>Cтатусы КП</b><br>
	  &nbsp;&nbsp;&nbsp;&nbsp;* <b>Ожидание документов</b> - Ожидание получения документов от заказчика<br>
          &nbsp;&nbsp;&nbsp;&nbsp;* <b>Расчет данных</b> - Документы отправлены в отдел проектирования, производится расчёт<br>
          &nbsp;&nbsp;&nbsp;&nbsp;* <b>Согласование сроков</b><br>
          &nbsp;&nbsp;&nbsp;&nbsp;* <b>Оформление предложения</b><br>
          &nbsp;&nbsp;&nbsp;&nbsp;* <b>Согласование стоимости</b><br>
          &nbsp;&nbsp;&nbsp;&nbsp;* <b>Готово к отправке</b><br>
          &nbsp;&nbsp;&nbsp;&nbsp;* <b>Отправлено</b><br>
          &nbsp;&nbsp;&nbsp;&nbsp;* <b>Отказ</b>
	</div>
      <!-- End Help -->
    </div>
  </div>

  <!-- Modal Upload -->
    {% include 'request/upload.html' %}
  <!-- EndModal Upload -->
  
  <!-- Modal Add -->
    {# include 'request/add.html' #}
    {{ add|raw }}
  <!-- EndModal Add -->
{% endblock %}