<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>Порядок производства работ</title>
</head>
<style>
    table p { margin: 0;}
</style>
<body>

<div>
    <p align="center"><strong><em><u><span style="color:black">Объем работ на разработку проектной документации</span></u></em></strong></p>
    <p align="right"><em><span style="color:black">Дата: {{ "now"|date("d.m.y") }}</span></em></p>
    <p align="right"><em><span style="color:black">Составил: {{ user.name }}</span></em></p>
    <p><strong><em><span style="color:black">Адрес объекта: </span></em></strong><em><span style="color:black">  г. Санкт-Петербург, {{ result.address }}</span></em></p>
    <p><strong><em><span style="color:black">Площадь объекта:  </span></em></strong><em>{{ result.footage }}  м<sup>2</sup></em></p>
    <p><strong><em><span style="color:black">Назначение здания/помещения: </span></em></strong><em><span style="color:black">{{ result.ztype }}/{{ result.ptype }}</span></em></p>
    <p><strong><em><span style="color:black">Название проекта: </span></em></strong><em><span style="color:black">&laquo;{{ result.name }}&raquo; </span></em></p>
    <p><strong><em><span style="color:black">Имеющиеся документы: </span></em></strong><em><span style="color:black">кадастровый паспорт</span></em></p>
    <p><strong><em><span style="color:black"> <u>Состав проектной документации:</u></span></em></strong></p>
    <p><em>Стадийность проекта: <strong>П</strong></em></p>
    <table width="510" style="border-collapse:collapse;border:none">
        <tr>
            <td width="24.1%" style="border:thin black solid; border-width:2pt;" valign="top">
                <p align="center"><strong><em><span style="color:black">Раздел</span></em></strong></p>
            </td>
            <td width="75.9%" style="border:thin black solid; border-width:2pt;" valign="top">
                <p align="center"><strong><em><span style="color:black">Трудоемкость, чел./час.</span></em></strong></p>
            </td>
        </tr>
        {% set allr = 0 %}
        {% for key,razd in result.razd %}
        {% set allr = allr + razd %}
        <tr>
            <td style="border:thin black solid;border-top:none; border-width:0 1pt 1pt 2pt;" valign="top">
                <p align="center"><em><span style="color:black">{{ key }}</span></em></p>
            </td>
            <td style="border:thin black solid;border-top:none;border-left: none;border-width:0 2pt 1pt 0;" valign="top">
                <p align="center"><em><span style="color:black">{{ razd }}</span></em></p>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td style="border:thin black solid; border-width:2pt;" valign="top">
                <p align="center"><em><span style="color:black">Всего:</span></em></p>
            </td>
            <td style="border:thin black solid; border-width:2pt;" valign="top">
                <p align="center"><em><span style="color:black">{{ allr }}</span></em></p>
            </td>
        </tr>
    </table><br><br>
    <p><em>* {{ result.pmore }}</em></p>
    <p><strong><em>Общий объем работ</em></strong> <em> на разработку и выпуск проектной документации: <strong><u>{{ result.total }} чел./час.</u></strong></em></p>
    <p align="right" style="position: fixed;left: 0;right: 0;bottom: 20px;"><em><span style="color:black;">Подпись: _________________________</span></em></p> </div>
</body></html>