<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
        <title>Порядок производства работ</title>
        <style>



            body {
                font-size: 10pt;
                margin: 1cm 0;
                padding: 30px 0px;
                text-align: justify;
                font-family: serif;
            }

            table p { margin: 0;}

            hr {
                page-break-after: always;
                border: 0;
            }

            #header,
            #footer {
                position: fixed;
                left: 0;
                right: -10;
                padding-right: -10px;
                padding-left: 0px;
                font-size: 0.9em;
            }

            #header {
                top: -45px;
                border-bottom: 0.1pt solid #aaa;
            }

            #footer {
                bottom: 0px;
                border-top: 0.1pt solid #aaa;
                height: 0px;
            }

            #header table,
            #footer table {
                width: 100%;
                border-collapse: collapse;
                border: none;
            }

            #header td,
            #footer td {
                padding: 0;
                width: 50%;
            }
        </style>
    </head>

    <body>
    <div id="header">
        <table>
            <tbody>
                <tr>
                    <td valign="top"><img height="80px" src="themes/img/blank-041.jpg"></td>
                    <td valign="top" style="text-align: right; color: rgb(100, 100, 105);">
                        <b>ООО «ПРОФЭКСПЕРТ»</b><br>
                        Адрес: г. Санкт – Петербург,<br>
                        Феодосийская ул., д. 7, литера А<br>
                        Т./ф: +7(812) 633-30-42<br>
                        www.profexpert.com
                    </td>
                </tr>
                <tr>
                    <td colspan="2" valign="top" style="color: rgb(100, 100, 105);"><br>
                        <p>Исх. № {{ result.id }}/{{ "now"|date("y") }} от {{ "now"|date("d.m.y") }}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {#<div id="footer">
        <table width="100%">
            <tbody>
                <tr>
                    <td valign="bottom" style="text-align: center; color: rgb(100, 100, 105); font-size: 20px;">www.profexpert.com</td>
                    <td valign="bottom" style="color: #444; text-align: right;"><br>
                        <p align="justify">ИНН/КПП:7810039009/781401001	Р/с  № 40702810407160000166  в</p>
                        <p align="justify">ОКПО: 77753201,  БИК 044030809	Филиал «Петровский» ОАО Банк</p>
                        <p align="justify">Кор.сч. №30101810600000000809	«ОТКРЫТИЕ»  г. Санкт-Петербург</p>
                        <p align="center"><em>Свидетельство №0323-2012-7810039009-02</em></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>#}
    {% if first != 2 %}
        <div style="">
            <table width="100%" style="border-collapse:collapse;">
                <tr>
                    <td valign="bottom">
                        <p><strong><em>{{ result.kpname|raw }}</em></strong></p>
                    </td>
                    <td width="40%" valign="top" style="text-align: right;">
                        {% if result.fname %}<p><strong><em>Заказчик:</em></strong> {{ result.fname|raw }}</p>{% endif %}
                        {% if result.phone %}<p><strong><em>Тел:</em></strong> {{ result.phone }}</p>{% endif %}
                        {% if result.email %}<p><strong><em>e-mail:</em></strong> {{ result.email }}</p>{% endif %}
                    </td>
                </tr>
            </table>
            <p align="center">Предварительный расчет стоимости </p>
            <table width="100%" style="border-collapse:collapse; border:none">
                <tr>
                    <td width="6%" style="border:solid windowtext 1.0pt">
                        <p align="center">№<br>п/п</p>
                    </td>
                    <td width="55.9%" style="border:solid windowtext 1.0pt;border-left:none; text-align: center;" valign="middle">
                        Наименование
                    </td>
                    <td width="19.8%" style="border:solid windowtext 1.0pt;border-left:none">
                        <p align="center">Стоимость работ</p>
                        <p align="center">(руб.)</p>
                    </td>
                    <td width="18.2%" style="border:solid windowtext 1.0pt;border-left:none">
                        <p align="center">Сроки исполнения (раб. день)</p>
                    </td>
                </tr>
                {% set tcoun = 0 %}
                {% set tcopr = 0 %}
                {% for traspr in result.traspr %}
                    {% set tcoun = tcoun + 1 %}
                    {% set tcopr = tcopr + traspr.price %}
                    <tr>
                        <td style="border:solid windowtext 1.0pt; padding: 4px;" valign="top">
                            <p align="center">{{ tcoun }}</p>
                        </td>
                        <td style="border:solid windowtext 1.0pt; padding: 4px;" valign="top">
                            <p>{{ traspr.name|raw }}</p>
                        </td>
                        <td style="border:solid windowtext 1.0pt; padding: 4px; text-align: center;" valign="middle">
                            {{ traspr.price|number_format(2, ',', ' ') }}
                        </td>
                        <td style="border:solid windowtext 1.0pt; padding: 4px; text-align: center;" valign="middle">
                            {{ traspr.srok }}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td style="border:none;" />
                    <td style="border:none;">
                        <p align="right"><strong>Итого:</strong></p>
                    </td>
                    <td style="border:none;">
                        <p align="center"><strong>{{ tcopr|number_format(2, ',', ' ') }}</strong></p>
                    </td>
                    <td style="border:none;" />
                </tr>
                {% if result.kpsale %}
                <tr>
                    <td style="border:none;" />
                    <td style="border:none;">
                        <p align="right"><strong>Скидка:</strong></p>
                    </td>
                    <td style="border:none;">
                        <p align="center"><strong>{{ result.kpsale }}%</strong></p>
                    </td>
                    <td style="border:none;" />
                </tr>
                {% endif %}
                {% if result.kptotsale %}
                <tr>
                    <td style="border:none;" />
                    <td style="border:none; text-decoration: underline;">
                        <p align="right"><strong>Итого с учётом скидки:</strong></p>
                    </td>
                    <td style="border:none; text-decoration: underline;">
                        <p align="center"><strong>{{ result.kptotsale|number_format(2, ',', ' ') }}</strong></p>
                    </td>
                    <td style="border:none;" />
                </tr>
                {% endif %}
            </table>
            Примечание: <br />
            <p>{{ result.kpmore|raw }}</p>
            {% if manager.sign %}<div style="position: fixed;left: 0;right: 0;bottom: 135px; left:260px;"><img height="80px" src="uploads/img/sign/{{ manager.sign }}"></div>{% endif %}
            <div style="position: fixed;left: 0;right: 0;bottom: 150px;">
                <p>
                    Менеджер по работе с клиентами<br>
                    ГК &laquo;ПРОФЭКСПЕРТ&raquo;  ________________________ / {{ manager.name }}  /
                </p>
            </div>
        </div>
    <hr>
    {% endif %}
    {% if first != 1 and first != 2 %}
    <div><br>
        <table style="border-collapse:collapse;" width="100%">
                <tr>
                    <td align="right"><b>Проект</b></td>
                    <td colspan="4" style="padding: 5px 10px">{{ result.name }}</td>
                </tr>
                <tr>
                    <td align="right"><b>Адрес</b></td>
                    <td colspan="4" style="padding: 5px 10px">г. Санкт-Петербург, {{ result.address }}</td>
                </tr>
                <tr>
                    <td align="right"><b>Площадь</b></td>
                    <td colspan="4" style="padding: 5px 10px">{{ result.footage }}</td>
                </tr>
                <tr>
                    <td align="right"><b>Часы</b></td>
                    <td colspan="4" style="padding: 5px 10px">{{ result.total }} ({{ result.atotal }} дн.)</td>
                </tr>
                <tr>
                    <td width="50%" colspan="2" valign="top" style="border:thin black solid; border-width:1pt;">
                        <p align="center">Разделы</p>
                    </td>
                    <td width="25%" valign="top" style="border:thin black solid; border-width:1pt;"></td>
                    <td width="25%" valign="top" style="border:thin black solid; border-width:1pt;">
                        <p align="center">Стоимость м<sup>2</sup></p>
                    </td>
                    <td width="25%" valign="top" style="border:thin black solid; border-width:1pt;">
                        <p align="center">Итого</p>
                    </td>
                </tr>
                {% set allpr = 0 %}
                {% for razd in result.razd %}
                    {% set allpr = allpr + razd.price %}
                    <tr>
                        <td colspan="2" style="border:thin black solid; border-width:1pt; padding: 4px;" valign="top">
                            <p align="left">{% if razd.pname %} {{ razd.pname }} {% else %} {{ razd.rname }} {% endif %}</p>
                        </td>
                        <td style="border:thin black solid; border-width:1pt; padding: 4px;" valign="top">
                            <p align="center">{{ razd.sname }}</p>
                        </td>
                        <td style="border:thin black solid; border-width:1pt; padding: 4px;">
                            <p align="right">{{ razd.price1|number_format(2, ',', ' ') }}</p>
                        </td>
                        <td style="border:thin black solid; border-width:1pt; padding: 4px;">
                            <p align="right">{{ razd.price|number_format(2, ',', ' ') }}</p>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2"></td>
                    <td><p align="right"><em>Наценка</em></p></td>
                    <td><p align="right"><em>0,50</em></p></td>
                    <td><p align="right">{{ allpr|number_format(2, ',', ' ') }}</p></td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td><b>ИТОГО: </b></td>
                    <td><p align="right">{{ (allpr*2)|number_format(2, ',', ' ') }}</p></td>
                </tr>
                <tr><td colspan="5"><br></td></tr>
                <tr>
                    <td width="50%" colspan="4" valign="top">
                        <p align="center"><b>Согласование проекта</b></p>
                    </td>
                    <td width="25%" valign="top">
                        <p align="center"><em>Стоимость</em></p>
                    </td>
                </tr>
                {% set allip = 0 %}
                {% for instance in result.instance %}
                    {% set allip = allip + instance.price %}
                    <tr>
                        <td colspan="4" style="border:thin black solid; border-width:1pt; padding: 4px;" valign="top">
                            <p align="left">{{ instance.rname }}</p>
                        </td>
                        <td style="border:thin black solid; border-width:1pt; padding: 4px;">
                            <p align="right">{{ instance.price|number_format(2, ',', ' ') }}</p>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4"><p align="right"><em>Наценка</em></p></td>
                    <td><p align="right"><em>0,50</em></p></td>
                </tr>
                <tr>
                    <td colspan="4"><p align="right"><b>ИТОГО: </b></p></td>
                    <td><p align="right"><b>{{ (allip*2)|number_format(2, ',', ' ') }}</b></p></td>
                </tr>
                <tr>
                    <td colspan="4"><p align="right"><b><em style="text-decoration: underline;">ВСЕ РАБОТЫ</em></b></p></td>
                    <td><p align="right"><b><em style="text-decoration: underline;">{{ (allip*2+allpr*2)|number_format(2, ',', ' ') }}</em></b></p></td>
                </tr>
            </table>
        </div>
    <hr>
    {% endif %}
    {% if first != 1 %}

        <div>
            <p align="center"><strong><em><u><span style="color:black">Объем работ на разработку проектной документации</span></u></em></strong></p>
            <p align="right"><em><span style="color:black">Дата: {{ "now"|date("d.m.y") }}</span></em></p>
            <p align="right"><em><span style="color:black">Составил: {{ user.name }}</span></em></p>
            <p><strong><em><span style="color:black">Адрес объекта: </span></em></strong><em><span style="color:black">  г. Санкт-Петербург, {{ result.address }}</span></em></p>
            <p><strong><em><span style="color:black">Площадь объекта:  </span></em></strong><em>{{ result.footage }}  м<sup>2</sup></em></p>
            <p><strong><em><span style="color:black">Назначение здания/помещения: </span></em></strong><em><span style="color:black">{{ result.ztype }}/{{ result.ptype }}</span></em></p>
            <p><strong><em><span style="color:black">Название проекта: </span></em></strong><em><span style="color:black">&laquo;{{ result.name }}&raquo; </span></em></p>
            <p><strong><em><span style="color:black">Имеющиеся документы: </span></em></strong><em><span style="color:black">кадастровый паспорт</span></em></p>
            <p><strong><em><span style="color:black"> <u>Состав проектной документации:</u></span></em></strong></p>
            <p><em>Стадийность проекта: <strong>П</strong>{{ user.sign }}</em></p>
            <table width="510" style="border-collapse:collapse;border:none">
                <tr>
                    <td width="24.1%" style="border:thin black solid; border-width:2pt;" valign="top">
                        <p align="center"><strong><em><span style="color:black">Раздел</span></em></strong></p>
                    </td>
                    <td width="75.9%" style="border:thin black solid; border-width:2pt;" valign="top">
                        <p align="center"><strong><em><span style="color:black">Трудоемкость, чел./час.</span></em></strong></p>
                    </td>
                </tr>
                {% set allr = 0 %}
                {% for razd in result.razd %}
                {% set allr = allr + razd.hours %}
                <tr>
                    <td style="border:thin black solid;border-top:none; border-width:0 1pt 1pt 2pt;" valign="top">
                        <p align="center"><em><span style="color:black">{{ razd.sname }}</span></em></p>
                    </td>
                    <td style="border:thin black solid;border-top:none;border-left: none;border-width:0 2pt 1pt 0;" valign="top">
                        <p align="center"><em><span style="color:black">{{ razd.hours }}</span></em></p>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td style="border:thin black solid; border-width:2pt;" valign="top">
                        <p align="center"><em><span style="color:black">Всего:</span></em></p>
                    </td>
                    <td style="border:thin black solid; border-width:2pt;" valign="top">
                        <p align="center"><em><span style="color:black">{{ allr }}</span></em></p>
                    </td>
                </tr>
            </table><br><br>
            <p><em>* {{ result.pmore|raw }}</em></p>
            <p><strong><em>Общий объем работ</em></strong> <em> на разработку и выпуск проектной документации: <strong><u>{{ result.total }} чел./час.</u></strong></em></p>
            {% if project.sign != false %}<p align="right" style="position: fixed;right: 0;bottom: 135px; left:0px;"><img height="80px" src="uploads/img/sign/{{ project.sign }}"></p>{% endif %}
            <p align="right" style="position: fixed;left: 0;right: 0;bottom: 100px;"><em><span style="color:black;">Подпись: _________________________</span></em></p>
        </div>

    {% endif %}
    </body>
</html>