<div id="upload" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Загрузить документы</h3>
    </div>
    <form method="POST" enctype="multipart/form-data" class="form-horizontal">
      <input type="hidden" name="id" value="0" id="ths" />
      <div id="loading" {#style="display:none;"#}><div class="loading">&nbsp;</div></div>
      <div class="modal-body" id="load">
	{#<blockquote>
	  <p>Права на собственность <input type="file" name="ps" /></p>
	  <small id="ps"><b>Не загружено</b></small>
	</blockquote>
	<blockquote>
	  <p>Технический паспорт <input type="file" name="tp" /></p>
	  <small id="tp"><b>Не загружено</b></small>
	</blockquote>
	<blockquote>
	  <p>Эскиз перепланировки <input type="file" name="ep" /></p>
	  <small id="ep"><b>Не загружено</b></small>
	</blockquote>#}
      </div>
      <div class="modal-footer">
	<div class="btn-group">
	  <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
	  <input type="submit" class="btn btn-primary" name="upload" value="Загрузить" />
	</div>
      </div>
    </form>
  </div>